.textContent {
    padding: 22px 20px 13px;
    display: flex;
    flex-flow: row wrap;
}
.textContent > * {
    flex: 1 1 100%;
}

@media all and (min-width: 1024px) {
    .textContent {
        order: 2;
        padding: 0 20px 0 38px;
        flex-direction: column-reverse;
    }    
}

@media all and (min-width: 1540px) {
    .textContent {
        flex-basis: 672px;
    }
}
